# IDE files
.vscode

# Cloned
mininet/
openflow/
CraneSched/
CraneSched-FrontEnd/
openpbs-master/
sge/

# Utilities
sync.sh
sync_*
*.txt

# Output
*.out
*.log

# Result dir
testcase/*/result/*
*-stat-*
